html {
	overflow: scroll;
}
body {
  background-image: url(../img/cover.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}
.navbar {
	height: 20px !important;
	min-height:32px !important;
	padding-bottom: 0px;
	margin-bottom: 0px;
	text-transform: uppercase;
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
	line-height: 20px;
	text-align: center;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top; 
}
.navbar-nav > li > a {
 	padding-top:5px !important; 
	padding-bottom:5px !important;
	padding-right: 10px;
}
.navbar-collapse {
  padding: 0px;
  margin: 0px;
  word-spacing: -0.2em; 
  overflow: hidden;
}
.topTextHolder {
	text-align: center;
	margin-top: 10%;
	text-transform: uppercase;
	color: black;
	font-family: 'Oswald', sans-serif;
}
.topTextHolder h1 {
	display: inline;
}
#red-h1 {
	color: #8b0000;
}
.row-flip-cards {
    width: 60%;
    margin: 0 auto;
    margin-top: 12%;
}
.row-centered {
	text-align:center;
	padding-top: 12%;
}
.col-centered { 
	display:inline-block; 
	float:none; 
	margin-right:-4px;
	text-align: left;
}
.flip-cards-holder {
	text-align: center;
	margin: 0 auto;
	margin-bottom: 40px;
}
.img-circle {
    border-radius: 50%;
}
.card {
	background-color: transparent;
	border: 1px solid rgba(0,0,0,0);
}
.card-img {
	width: 90%;
	height: 210px;
	margin: 0 auto;
}
.row-query{
	margin: 0 auto;
	width: 70%;
	margin-top: 51px;
	font-size: 12px;
}
.row-service-cards{
	margin: 0 auto;
	width: 70%;
	margin-top: 17px;
}
.service-card {
	text-align:center; 
	margin-bottom: 10px;
	background-color: rgba(255,255,255,0.2); 
}
.service-card p {
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	padding-left: 0px;
	font-weight: bold;
}
.service-card h3 {
	font-family: 'Amatic SC', cursive;
	font-size: 30px;
	margin: 0px;
}
.service-detail-card {
	text-align:center;
	border-radius: 25px; 
	margin-top: 5%;
	margin-bottom: 5%;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	background-color: rgba(255,255,255,0.3); 
}
#detailsButton {
	margin-bottom: 10px;
}
.contact-form {
	text-align: center;
	text-transform: uppercase;
	width: 50%;
	margin-left: 25%;
	margin-top: 20%;
}
.form-group {
	border-radius: 15px;
}
.contact-form a {
	color: black;
}
.contact-form a:hover {
	color:darkred;
	text-decoration: none;
}
.contact-form h2 {
	font-family: 'Pacifico', cursive;
	text-transform: lowercase;
	font-size: 35px;
}
.contact-form img, h2 {
	display: inline;
}
.btn-circle{
	border-radius: 50%;
}
@media only screen and (max-width : 900px) {
	   .contact-form {width: 70%; margin-left: 15%;}
}
@media only screen and (max-width : 768px) {
	   .navbar-collapse {font-size: 1em; text-align: right; padding-right: 8px;}
       .navbar-collapse li { background: rgba(0,0,0,0.2); text-align: right;}
       .navbar-toggle {padding: 0%;}
       .card-img {width: 65%;}
       .contact-form {width: 80%; margin-left: 10%;}
}
@media only screen and (max-width : 600px) {
	   .topTextHolder {margin-top: 15%; margin-bottom: 18px;}
	   .topTextHolder h1 {font-size: 1.2em;}
	   .card-img {height: 120px;}
	   .flip-cards-holder {margin-bottom: 18px;}
	   .contact-form h2 {font-size: 1.2em;}
}