<div class="contact-form">

  <img src="img/pigeon.png" height="50px;" />
      <h2> <a>hello@hello.com</a> </h2>

  <form role="form" ng-submit="$ctrl.submit()">

    <div class="form-group">
      <input type="name" class="form-control" ng-model="$ctrl.name" placeholder="NAME" required="" />
    </div>
    <div class="form-group">
        <input type="email" class="form-control" ng-model="$ctrl.email" placeholder="EMAIL" required="" />
    </div>
    <div class="form-group">
        <input type="phone" class="form-control" ng-model="$ctrl.phone" placeholder="PHONE"/>
    </div>
    <div class="form-group">
        <input type="comments" class="form-control" ng-model="$ctrl.comments" placeholder="COMMENTS" required="" />
    </div>
    <button type="submit" id="submit" class="btn btn-danger" value="Submit">{{$ctrl.btnTxt}}</button>
  </form>
</div>
